@use "../abstracts/index" as *;

.searchBox {
    display: flex;
    margin-inline: auto;
    background-color: none;
    width: 100%;
    color: $space-cadet;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    max-height: 48px;
    margin-top: 15px;
    border: 1px solid $mainPurple;
    padding: 5px;
    border-radius: 4px;

    .searchBtn {
        margin-left: 8px;
        cursor: pointer;
        background-color: $oxford-blue;
        border: none;
        margin-right: 5px;
        height: 100%;
        .icon {
            color: $white;
            height: 1.5rem;
        }
        &:hover {
            .icon {
                color: $mainPurpleHover;
            }
        }
    }
    input {
        color: $white;
        background-color: $oxford-blue;
        border: none;
        letter-spacing: 1px;
        font-weight: 400;
        display: flex;
        flex-grow: 1;
        padding: 10px 0;
        min-width: 350px;
        height: 100%;
        font-size: 0.9rem;
        margin-left: 8px;

        &:focus {
            outline: none;
            caret-color: $mainPurple;
            padding-bottom: 10px;
        }
    }
}
