@use "./reset" as *;
@use "./abstracts/index" as *;

:root {
  background-color: $oxford-blue;
  color: $white;
  --foreground: #{$white};
  --background: #{$oxford-blue};
}

.wrapper {
  height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
